<%- include('partials/header') %>
    <div class="index-container bg-red-600">
        <div class="head mb-20">
            <h1 class="text-center pb-2 pt-5">TaskMania</h1>
            <h2 class="text-center px-10 mb-16">
                ...a dynamic and user-friendly task management app designed to streamline your daily routines.
            </h2>
        </div>
    </div>
<%- include('partials/footer') %>