@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --green-custom: #008000;
  --white-custom: #ffffff;
  --red-custom: #ff0000;
  --light-red-custom: #ff4141;
  --gray-custom: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden !important;
}

.not-found {
  color: var(--light-red-custom) !important;
}

.nav-link ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
}

header {
  height: 70px;
  width: 100%;
  z-index: 2 !important;
}

.nav {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2 !important;
}

.logo img {
  width: 40px;
  z-index: 2 !important;
}

.hamburger-container {
  position: absolute;
  right: 0;
  z-index: 2 !important;
  transform: translateX(0%);
  transition: transform 500ms ease-in-out;
}

.hamburger {
  cursor: pointer;
  float: right;
  margin-right: 40px;
  z-index: 2 !important;
  padding: 14px 1.5px;
}

.hamburger-lines {
  background-color: var(--white-custom);
  display: block;
  height: 4.5px;
  width: 37px;
  border-radius: 2px;
  position: relative;
}

.hamburger-lines::before,
.hamburger-lines::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  background-color: #cccccc;
  border-radius: 2.5px;
}

.hamburger-lines::before {
  top: 14px;
}

.hamburger-lines::after {
  top: -14px;
}

.hamburger-lines.show {
  background-color: transparent;
}

.hamburger-lines.show::before {
  top: 0;
  transform: rotate(-45deg);
}

.hamburger-lines.show::after {
  top: 0;
  transform: rotate(45deg);
}

.nav-link {
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  width: 80%;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
  opacity: 0;
}

.nav-link.home {
  animation: rainbow 18s ease infinite;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #187e92 100%);
  background-size: 400% 400%;
}

.nav-link.login {
  animation: rainbow 18s ease infinite;
  background: linear-gradient(90deg, #2fa170 0%, #8f4515 50%, #122440 100%);
  background-size: 400% 400%;
}

.nav-link.signup {
  animation: rainbow 18s ease infinite;
  background: linear-gradient(to left bottom, #d16ba5, #b867a9, #9e63a9, #8160a7, #635da2, #6f5ca2, #7a5ca1, #855ba0, #b45d9a, #da648a, #f27475, #fb8e5f);
  background-size: 400% 400%;
}

.nav-link.edit {
  animation: rainbow 50s ease infinite;
  background: linear-gradient(81deg, #337eeb, #9d117f, #209bf2, #2da4c8, #96ed22);
  background-size: 400% 400%;
  z-index: 1;
}

.nav-link.delete {
  animation: rainbow 50s ease infinite;
  background: linear-gradient(81deg, #337eeb, #9d117f, #209bf2, #2da4c8, #96ed22);
  background-size: 400% 400%;
  z-index: 1;
}

.nav-link.tasks {
  animation: rainbow 25s ease infinite;
  background: linear-gradient(90deg, #42005D 0%, #761D9B 40%, #974DB5 60%, #6A34DD 80%, #4625A7 100%);
  background-size: 400% 400%;
  z-index: 1;
}

.nav-link ul {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-link.hide {
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
  opacity: 0;
}

.nav-link ul li a {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--white-custom);
}

.signup-container,
.login-container,
.index-container {
  width: 100%;
  min-height: 100vh !important;
  animation: rainbow 18s ease infinite;
  margin-top: -70px;
  z-index: 1 !important;
}

.delete-task-container,
.edit-task-container,
.task-container {
  width: 100%;
  min-height: 100vh !important;
  animation: rainbow 25s ease infinite;
  margin-top: -70px;
}

.delete-task-container,
.edit-task-container {
  animation: rainbow 50s ease infinite;
}

.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head h1,
.head h2 {
  color: var(--white-custom);
  font-size: 2.5rem;
}

.index-container {
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #187e92 100%);
  background-size: 400% 400%;
}

.index-container .head {
  padding: 0;
}

.index-container .head h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.index-container .head h2 {
  font-size: 1.15rem;
}

.task-container {
  background: linear-gradient(90deg, #42005D 0%, #761D9B 40%, #974DB5 60%, #6A34DD 80%, #4625A7 100%);
  background-size: 400% 400%;
}

.delete-task-container {
  background: linear-gradient(81deg, #337eeb, #9d117f, #209bf2, #2da4c8, #96ed22);
  background-size: 400% 400%;
}

.edit-task-container {
  background: linear-gradient(81deg, #337eeb, #9d117f, #209bf2, #2da4c8, #96ed22);
  background-size: 400% 400%;
}

.login-container {
  background: linear-gradient(90deg, #2fa170 0%, #8f4515 50%, #122440 100%);
  background-size: 400% 400%;
}

.signup-container {
  background: linear-gradient(to left bottom, #d16ba5, #b867a9, #9e63a9, #8160a7, #635da2, #6f5ca2, #7a5ca1, #855ba0, #b45d9a, #da648a, #f27475, #fb8e5f);
  background-size: 400% 400%;
}

.inner-delete-task-container,
.inner-edit-task-container,
.inner-task-container,
.inner-signup-container,
.inner-login-container {
  padding-top: 70px;
}

.filter-buttons-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.filter-buttons {
  width: 200px;
  cursor: pointer;
  position: relative;
  border: 1px solid var(--white-custom);
}

.select-filter-state::after {
  content: '';
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--white-custom);
  display: inline-block;
  position: absolute;
  right: 1rem;
  margin-top: 0.5rem;
  pointer-events: none;
}

.select-filter-state {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-custom);
  padding: 0.5rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-options {
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  height: 0px !important;
  overflow-y: hidden;
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.filter-options a {
  color: var(--white-custom);
  width: 100%;
  display: block;
  padding: 5px 0;
  margin-bottom: 10px;
  color: var(--gray-custom);
  transition: 0.5s ease-in-out;
  width: 100%;
}

.filter-options a:first-child {
  margin-top: 10px;
}

.filter-options a:hover {
  color: var(--white-custom);
}

.filter-options.active {
  height: 140px !important;
}

a.selected {
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--white-custom);
  font-style: italic;
  font-weight: 500;
  padding-left: 10px;
}

.inner-delete-task-container,
.inner-edit-task-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-task-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}

.edit-task-form h2 {
  font-size: 2rem;
}

.task-content,
.signup-content,
.login-content {
  min-height: calc(100vh - 150px);
  width: 100%;
}

.signup-content form,
.login-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 150px);
}

.edit-task-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label-container {
  width: 350px;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.state-label-container {
  height: 50px;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.state-label-container select option {
  background-color: #000000;
}

.state-label-container select {
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  color: var(--white-custom) !important;
  padding: 10px;
  outline: none;
  border: 0;
  cursor: pointer;
  position: relative;
}

.label-container label {
  width: 150px;
  color: var(--white-custom);
  font-size: 1.125rem;
  display: none;
}

.label-container input {
  padding: 10px;
  font-size: 1.125rem;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--white-custom);
  width: 100%;
}

.label-container input:focus,
.label-container input:active {
  background-color: rgba(0, 0, 0, 0.15);
}

@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.message-box {
  min-width: 200px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.message-box-danger {
  background-color: var(--red-custom);
  z-index: 2;
}

.message-box-success {
  background-color: var(--green-custom);
  z-index: 2;
}

.message-box button {
  font-size: 1.5rem;
  color: var(--white-custom);
  font-weight: bold;
  padding: 0px 7px 3px 7px;
  margin-top: -5px;
}

.task-modal-custom {
  display: none;
}

.task-modal-custom.show {
  position: absolute;
  width: 90%;
  min-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.modal-content-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
}

.modal-content-custom form {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.modal-content-custom h2 {
  font-size: 1.5rem;
}

.modal-content-custom form .label-container {
  width: 100%;
}

.edit-task-form .label-container {
  width: 100%;
}

.modal-content-custom form textarea,
.modal-content-custom form input {
  width: 100%;
  transition: background-color 500ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);
}

.modal-content-custom form textarea:focus,
.modal-content-custom form input:focus,
.modal-content-custom form textarea:active,
.modal-content-custom form input:active {
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 850ms ease-in-out;
}

.edit-task-form form textarea,
.edit-task-form form input {
  width: 100%;
  transition: background-color 500ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}

.edit-task-form form textarea:focus,
.edit-task-form form textarea:active,
.edit-task-form form input:focus,
.edit-task-form form input:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.close-model-custom {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2rem;
  cursor: pointer;
  line-height: 0px;
  padding: 0px 10px;
  padding-top: 15px !important;
  padding-bottom: 22px !important;
  color: var(--white-custom);
  background-color: transparent;
  border-top-right-radius: 10px;
  transition: background-color 500ms ease-in-out;
}

.close-model-custom:hover {
  background-color: var(--red-custom);
}

textarea {
  padding: 10px;
  min-height: 150px;
  outline: none;
  border: 0;
  color: var(--white-custom);
}

.state-container {
  width: 250px;
  cursor: pointer;
  position: relative;
}

.select-state::after {
  content: '';
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--white-custom);
  display: inline-block;
  position: absolute;
  right: 1rem;
  margin-top: 0.5rem;
  pointer-events: none;
}

.select-state {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-custom);
  padding: 0.5rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.state-options {
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  height: 0px !important;
  overflow-y: hidden;
  transition: 0.3s ease-in-out;
}

.state-options .option {
  color: var(--gray-custom);
  padding: 5px 0;
  margin: 10px 0;
  transition: 0.5s ease-in-out;
}

.state-options .option:hover {
  color: var(--white-custom);
}

.state-options.active {
  height: 147px !important;
  height: 100px !important;
}

.create-task-button {
  border-bottom: 0.25px solid var(--white-custom);
  padding: 7px 15px;
  position: absolute;
  top: 18px;
  right: calc(10% + 3rem);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 7.5px;
  color: var(--white-custom);
  transition: background-color ease-in-out 500ms, border-radius ease-in-out 500ms;
  z-index: 2;
}

.create-task-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0;
}

.create-task-button-sm {
  display: block;
  margin-top: -2px;
}

.create-task-button-lg {
  display: none;
}

.task-button-container,
.save-button-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  justify-content: space-evenly;
  align-items: center;
  align-items: end;
}

.task-button {
  border: 0.25px solid rgba(0, 0, 0, 0.3);
  border-bottom: 0.25px solid var(--white-custom);
  border: 0.25px solid var(--white-custom);
  padding: 6.5px 16.5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 7.5px;
  color: var(--white-custom);
  transition: background-color ease-in-out 500ms, border-radius ease-in-out 500ms;
}

.task-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0;
  border: 0.25px solid var(--white-custom);
}

.tasks-list {
  display: flex;
  align-content: center;
  font-size: 0.9rem;
  border-bottom: 0.5px solid var(--white-custom);
  min-height: 40px;
}

.tasks-list-head {
  border: 1px solid var(--white-custom);
  border-bottom: 2px solid var(--white-custom);
}

.tasks-list-head h2 {
  font-size: 0.9rem;
}

.tasks-list h2 {
  font-weight: 600;
}

.serial-numbers-head,
.serial-numbers {
  width: 35px;
  flex: 0 0 auto;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.displayed-task-title-head,
.displayed-task-title {
  flex: 1;
  padding: 0 4px;
  display: flex;
  align-items: center;
  position: relative;
}

.displayed-task-title-head {
  display: flex;
  align-items: center;
}

.displayed-task-state-head,
.displayed-task-state {
  width: 85px;
  flex: 0 0 auto;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.edit-delete-button-container-head,
.edit-delete-button-container {
  width: 70px;
  flex: 0 0 auto;
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-evenly;
}

.edit-delete-button-container i {
  cursor: pointer;
}

.tasks-list-container {
  border: 1px solid var(--white-custom);
  width: 94%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.delete-task-container .inner-delete-task-container .head h1,
.edit-task-container .inner-edit-task-container .head h1,
.task-container .inner-task-container .head h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

details {
  padding-right: 0.5rem;
  width: 100%;
}

details p {
  line-height: 1.55rem;
  font-size: 0.8rem;
}

summary {
  cursor: pointer;
  position: relative;
  list-style: none;
  font-size: 0.9rem;
  padding-right: 10px;
}

summary::before {
  content: "\25BC";
}

summary::before,
summary::after {
  position: absolute;
  right: 0;
  font-size: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

details[open] > summary::before {
  content: '';
}

details[open] > summary::after {
  content: "\25B2";
}

@media only screen and (min-width: 650px) {
  .hamburger-container {
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    border: 0;
    padding: 0px;
  }
  .nav-link {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 0;
    height: 70px;
    min-width: 250px;
    opacity: 1;
    background-color: transparent;
    justify-content: flex-end;
  }
  .nav-link.delete,
  .nav-link.edit,
  .nav-link.tasks,
  .nav-link.home,
  .nav-link.login,
  .nav-link.signup {
    background: transparent;
  }
  .nav-link ul {
    top: 0;
    min-height: 70px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .list-item-custom {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .nav-link.hide {
    transform: translateX(0%);
    transition: transform 500ms ease-in-out;
    opacity: 1;
  }
  .index-container .head {
    padding: 0 50px;
  }
  .index-container .head h1 {
    font-size: 4rem;
  }
  .index-container .head h2 {
    font-size: 1.5rem;
  }
  .label-container input {
    width: 230px;
  }
  .label-container label {
    min-width: 150px;
    color: var(--white-custom);
    display: block;
  }
  .task-modal-custom.show {
    width: 600px;
  }
  .modal-content-custom form {
    width: 500px;
  }
  .filter-buttons-container {
    width: 90%;
  }
  .create-task-button {
    right: 215px;
    right: calc(15% + 2.5rem);
  }
  .create-task-button-sm {
    display: none;
  }
  .create-task-button-lg {
    display: block;
  }
  .tasks-list-container {
    width: 90%;
  }
  .tasks-list {
    font-size: 1rem;
  }
  .serial-numbers-head,
  .serial-numbers {
    width: 50px;
    flex: 0 0 auto;
  }
  .displayed-task-state-head,
  .displayed-task-state {
    width: 120px;
  }
  .tasks-list-head h2 {
    font-size: 1.1rem;
  }
  .edit-delete-button-container-head,
  .edit-delete-button-container {
    width: 120px;
  }
  .task-container .inner-task-container .head h1 {
    font-size: 2rem;
  }
  details p {
    line-height: 1.75rem;
    font-size: 0.95rem;
  }
  summary {
    font-size: 1.1rem;
    padding-right: 12px;
  }
  summary::before,
  summary::after {
    font-size: 0.8rem;
  }
  .edit-task-form {
    width: 600px;
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: 950px) {
  .displayed-task-state-head,
  .displayed-task-state {
    width: 140px;
  }
  .tasks-list-head h2 {
    font-size: 1.1rem;
  }
  .edit-delete-button-container-head,
  .edit-delete-button-container {
    width: 140px;
  }
  .task-container .inner-task-container .head h1 {
    font-size: 3rem;
  }
  .tasks-list-container {
    width: 80%;
  }
  .filter-buttons-container {
    width: 80%;
  }
}
